* {
    box-sizing: border-box;
}

body {
    background-color: lightseagreen;
}

h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    text-align: center;
    margin: 10vh 0;
}

li {
    display: inline-block;
    margin: 25px 20px;
}

a {
    color: darkslategray;
    font-size: 24px;
    padding: 10px 20px;
    background-color: hsl(40, 100%, 75%);
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
}
